
body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#trainwithme img, .column img{
    width: 100px;
    padding-left: 20px;
}

#nav{
    background-color: #0d116b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer{
    background-color: #0d116b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#links a, li a{
    color: white;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
}

#links a:hover, li a:hover{
    color:aqua;
    text-decoration: underline;
}


#links #logout{
    padding: 10px;
    border-radius: 40px;
    background-color: aqua;
    color:#0d116b;
    font-weight: bold;
}

#links #logout:hover{
    text-decoration: none;
}

header{
    background-image: URL(man-fitness-gym-arms-wallpaper-preview.jpg); 
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 27, 61, 0.5);
}

  
h1, h2{
    font-size: 35px;
    color: white;
    width: 35%;
    z-index: 1;
    padding-left: 20px;
    font-weight: lighter;
}

header p{
    color: white;
    font-size: 35px;
    z-index: 1;
    text-align: center;
}

#search{
    position: relative;
}


#search_form{
    background-image: URL(Allenamento-e-composizione-corporea-Corebo.jpg); 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

#search_form div{
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#search_form strong{
    text-align: center;
    z-index: 1;
}

.start{
    margin-top: 15px;
    font-size: 23px;
    background-color: #0d116b;
    color: white;
    
}

.start:hover, .workout:hover{
    background-color: aqua;
    color: #0d116b;
}

strong{
    font-size: 35px;
    padding-bottom: 20px;
}

#search{
    margin-bottom: -40px;
}

.column{
    color: white;
    padding-right:20px;
    font-size: 20px; 
}


.title{
    font-size: 25px;
    color: aqua;
    text-decoration: underline;
}

p a{
    color: white;
    text-decoration: none;
}

p a:hover{
    color:aqua;
    text-decoration: underline;
}

.hidden{
    display: none;
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.exe{
    margin: 10px;
    font-size: 20px;
}

.exe_label{
    display: flex;
    justify-content: start;
    font-weight: bold;
}

.workout{
    margin: 10px;
    background-color: #0d116b;
    color: white;
}

#loading-bar {
    width: 0%;
    height: 20px;
    background-color: #0d116b;
    transition: width 0.3s;
}


.navbar{
    padding: 10px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
}

.iconbar{
    width: 22px;
    height: 3px;
    margin-bottom: 4px;
    background-color: white;
}

.wide{
    display: none;
}

#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#0d116b;
    z-index: 2;
}

#menu ul{
    list-style: none;
    padding: 60px;

}

#menu li{
    font-size: 30px;
    color: white;
}


@media(max-width: 500px){
    .header{
        display: block;
    }
    h1, h2{
        text-align: center;
        font-size: 2em;
        width: auto;
        padding: 10px;
        margin: -2px;
    }
    #search_form, header p{
        font-size: 2em;
    }
    header p{
        font-size: 1.5em;
        margin: -5px
    }
    #footer{
        flex-direction: column;
    }
   .column{
        padding: 0px;
        font-size: 1em; 
        margin-bottom: -7px;
    }
    .exe_label{
        justify-content: center;
    }
    #links {
        display: none;
    }
    .exlink{
        display: block;
        text-align: center;
        font-size: 10px;
        width: 100vw;
    }
    .navbar{
        display: block;
    }
}





