body{
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#trainwithme img{
    width: 100px;
    padding-left: 20px;
}


#nav{
    background-color: #0d116b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links a, li a{
    color: white;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
}

#links a:hover, li a:hover{
    color:aqua;
    text-decoration: underline;
}


#links #logout{
    padding: 10px;
    border-radius: 40px;
    background-color: aqua;
    color:#0d116b;
    font-weight: bold;
}

#links #logout:hover{
    text-decoration: none;
}

header{
    background-image: URL(360_F_217894165_H4jRalQ4eg9Kp8XUVGEa7XFDEPtTQ9PY.jpg); 
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

#icon img{
    width: 160px;
    padding: 20px;
}

#info h1{
    font-size: 40px;
    color: white;
    padding-left: 15px;
}


#info h2{
    font-size: 30px;
    color: white;
    padding-left: 15px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.result{
    width: 50%;
    border: 1px solid#0d116b;
    font-size: 25px;
    margin: 10px;
    padding: 20px;
}

.workout{
    margin-top: 10px;
    font-size: 17px;
    background-color: #0d116b;
    color: white;
}

.workout:hover{
    background-color: aqua;
    color: #0d116b;
}

.navbar{
    padding: 10px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 30px;
    display: none;
}

.iconbar{
    width: 22px;
    height: 3px;
    margin-bottom: 4px;
    background-color: white;
}

.wide{
    display: none;
}

#menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#0d116b;
    z-index: 2;
}

#menu ul{
    list-style: none;
    padding: 60px;

}

#menu li{
    font-size: 30px;
    color: white;
}



@media(max-width:500px){
    header{
        flex-direction: column;
        height: auto
    }
    #icon img{
        width: 80px;
        padding-bottom: 0px;
    }
    #info h1{
        font-size: 2em;
        padding-left: 0px;
        text-align: center;
    }
    #info h2{
        font-size: 1.5em;
        padding-left: 0px;
        text-align: center;
    }
    #links{
        display: none;
    }
    .navbar{
        display: block;
    }
}